In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sklearn.feature_extraction.text import TfidfVectorizer

def load_pickle(path, file):
    df = pd.read_pickle(os.path.join(path, file))
    return df

path = './output/'
file_c = 'step3_cluster_labels.pk'
file_t = 'step3_skill_point.pk'
df_cluster = load_pickle(path, file_c) 
df_text = load_pickle(path, file_t)
resume_skills = open('./data/Liveproject Resume.txt', 'r').read()
df_data = df_cluster.join(df_text)
df_data.head()

   Cluster                                             skills
0        5  Demonstrated ability to propose, initiate, and...
1        4  Entrepreneurial abilities: demonstrated skills...
2        5  Self-motivated and works well both independent...
3        1  Strong collaboration skills with highly techni...
4        5  Excellent and demonstrated ability to regularl...

In [5]:
df_w_resume = df_data.append({'skills':resume_skills}, ignore_index=True)

def cosine_similarity(df, col, col_list):
    vectorizer = TfidfVectorizer(stop_words='english')
    tfidf_matrix = vectorizer.fit_transform(col_list)
    tfidf_matrix = tfidf_matrix.toarray()
    df_new = df.copy()
    df_new[col] = tfidf_matrix[:-1] @ tfidf_matrix[-1]
    df_new = df_new.sort_values(col, ascending=False)
    return df_new

cosine_sim = cosine_similarity(df_data, 'cosine', df_w_resume['skills'])

In [8]:
skills_df = cosine_sim.sort_values(['Cluster', 'cosine'], ascending=False).groupby('Cluster').head(5)
skills_df

      Cluster                                             skills    cosine
655         5   Graduating between December 2019 and August 2020  0.178585
1069        5                                  Good communicator  0.093202
308         5  Monthly contribution to help you pay off your ...  0.084663
1011        5  Expertise developing natural language processi...  0.075279
862         5  Conduct state of the art research in Natural L...  0.072925
417         4  Good scripting and programming skills python, ...  0.155111
828         4              Good scripting and programming skills  0.113808
921         4              Good scripting and programming skills  0.113808
153         4  Strong scripting language skills, such as Python.  0.112162
93          4  Good scripting and programming skills C#, Pyth...  0.099206
1222        3  How to build models at scale using vast amount...  0.106283
270         3  Experience working with multiple sources of da...  0.096932
314         3  Present information using data visualization t...  0.096866
138         3  Present information using data visualization t...  0.096866
1225        3  Dealing with high data diversity (vast amounts...  0.090158
471         2       Data mining experience (using python/pandas)  0.211005
173         2  Experience using common python data analysis a...  0.156214
162         2  Experience using common python data analysis a...  0.156214
996         2  3+ years of experience in data science and/or ...  0.153090
276         2                Python (Pandas, Scikit Learn, etc.)  0.150948
25          1  Must be a continuing college or university stu...  0.115603
45          1  Must be a continuing college or university stu...  0.084416
1081        1  Strong knowledge of machine learning, computer...  0.064829
688         1  Master's Degree required in Computer Science, ...  0.062691
777         1  Masterâ€™s degree or PhD in computer science, ma...  0.057640
989         0  The ideal candidate will have experience with ...  0.132350
394         0  Good understanding of machine learning algorit...  0.130943
839         0  Good experience with R and/or Python programmi...  0.119437
875         0  Identify/develop appropriate machine learning/...  0.115074
1650        0  3+ years of experience as a data scientist or ...  0.115045

In [9]:
missing_df = cosine_sim.sort_values(['Cluster', 'cosine'], ascending=True).groupby('Cluster').head(5)
missing_df

      Cluster                                             skills    cosine
802         0  Working Knowledge in Deep learning with differ...  0.006722
347         0  Design and implement sophisticated hyper-param...  0.007611
483         0  Design and implement sophisticated hyper-param...  0.007611
1008        0  Use research and apply state-of-the-art deep l...  0.008107
863         0  Use research and apply state-of-the-art deep l...  0.008107
1553        1  MasterÂ’s degree from an accredited college/uni...  0.000000
1565        1  MasterÂ’s degree from an accredited college/uni...  0.000000
1458        1  MasterÂ’s degree from an accredited college/uni...  0.000000
1612        1  MasterÂ’s degree from an accredited college/uni...  0.000000
1630        1  Masters or PhD degree in Engineering, Computer...  0.000000
1494        2                  Jupyter notebooks for prototyping  0.000000
279         2                                                SQL  0.000000
285         2                     Familiarity with SQL is a plus  0.000000
689         2  Proficient in SQL, writing queries, and report...  0.000000
1091        2   Working knowledge of GraphX and Spark Streaming.  0.000000
832         3  Work closely with product leadership and other...  0.006130
699         3  Ability to run automated jobs to manipulate an...  0.007100
66          3  Work with the Integrated Microbial Genomes & M...  0.007304
1114        3  Solution right storage platforms from object s...  0.007392
1728        3  Curious: You want to learn about different ind...  0.007990
500         4  Knowledge of radio communication technologies,...  0.000000
364         4  Knowledge of radio communication technologies,...  0.000000
1030        4  Team player with strong communication and lead...  0.007292
1239        4  Excellent written and oral communication skill...  0.008039
1           4  Entrepreneurial abilities: demonstrated skills...  0.008727
1633        5  Demonstrated track record of cultivating stron...  0.000000
1437        5  Comprehensive medical insurance coverage, incl...  0.000000
1513        5  Contextualize the results and synthesize them ...  0.000000
1447        5  You will be in charge of prioritizing and re-p...  0.000000
1446        5  You will forward report findings to all releva...  0.000000